*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#gameCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 115, 255);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(0, 162, 255);
    margin: 10px;
    padding: 10px;
}
.tryCon{
    display: flex;
    margin: 10px;
    gap: 10px;
}
.tryCon span{
    border: 1px solid rgb(0, 115, 255);
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}
