*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
#gameCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 115, 255);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(0, 162, 255);
    margin: 10px;
    padding: 10px;
    width: 60%;
}
.tryCon{
    display: flex;
    margin: 10px;
    gap: 10px;
}
.tryCon input{
    border: 1px solid rgb(0, 115, 255);
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}
.mainTryCon{
    display: none;
}
#check{
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgb(5, 149, 5);
    color: white;
    transition: all , ease-in-out 0.3s;
}
#check:hover{
    background-color: rgb(3, 77, 3);

}
