* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
#gameCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(190, 192, 194);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px rgb(185, 185, 185);
  margin: 10px;
  padding: 10px;
  width: 40%;
}
.tryCon {
  display: flex;
  margin: 10px;
  gap: 10px;
}
.tryCon input {
  border: 1px solid rgb(196, 198, 200);
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  transition: all ease-in-out 0.3s;
}
.mainTryCon {
  display: none;
}
#btns{
display: flex;
gap: 10px;
margin: 10px;
}
#btns #check {
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: rgb(5, 149, 5);
  color: white;
  transition: all, ease-in-out 0.3s;
  width: 5em;
}
#btns #check:hover {
  background-color: rgb(3, 77, 3);
  border-color: rgb(3, 77, 3);
}
#btns #hint {
    padding: 10px;
    border: 1px solid rgb(0, 41, 128);
    border-radius: 5px;
    background-color: rgb(0, 41, 128);
    color: white;
    transition: all, ease-in-out 0.3s;
    width: 5em;

  }
  #btns #hint:hover {
    background-color: rgb(21, 76, 194);
    border-color: rgb(21, 76, 194);
  }
#info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid rgb(190, 192, 194);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px rgb(185, 185, 185);
  margin: 10px;
  padding: 10px;
  width: 40%;
}
#info h2 {
  margin: 5px;
}
#info div {
  border: 1px solid rgb(188, 187, 186);
  background-color: rgb(251, 251, 251);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
#info #rightColor {
  border: 1px solid rgb(41, 146, 13);
  background-color: rgb(41, 146, 13);
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}
#info #wrongColor {
  border: 1px solid rgb(237, 81, 61);
  background-color: rgb(237, 81, 61);
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}
#info #retryColor {
  border: 1px solid rgb(235, 129, 30);
  background-color: rgb(235, 129, 30);
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}
#info p span{
    color: brown;
    font-weight: 900;
    font-size: larger;
}